<%= form_with(model: farmer) do |form| %>
  <% if farmer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(farmer.errors.count, "error") %> prohibited this farmer from being saved:</h2>

      <ul>
        <% farmer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :farm_id, style: "display: block" %>
    <%= form.text_field :farm_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
